{% extends '@App/base.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <h1>Entschuldigung...</h1>
            <p>Die von Ihnen angeforderte Seite ist leider nicht vorhanden.</p>
        </div>
    </main>
{% endblock %}