{% extends '@App/base.html.twig' %}
{% block body %}
    <main>
        <div class="container">
            <h1>Ups!</h1>
            <p>Es sieht so aus als ob ein Fehler aufgetreten ist. Wir kümmern uns bald darum.</p>
        </div>
    </main>
{% endblock %}