{% extends '@App/base.html.twig' %}

{% block body -%}
<main>
    <div class="container">
        <h1>Preisgruppen bearbeiten</h1>

        {{ form(edit_form) }}

        <a href="{{ path('api_priceClass') }}" class="btn btn-default">Zurück zur Liste</a>
        {{ form(delete_form) }}
    </div>
</main>
{% endblock %}
