{% extends '@App/base.html.twig' %}

{% block body -%}
<main>
    <div class="container">
        <h1>Preisgruppe erstellen</h1>

        {{ form(form) }}

        <a href="{{ path('api_priceClass') }}" class="btn btn-default">Zurück zur Liste</a>
    </div>
</main>
{% endblock %}
