{% extends '@App/base.html.twig' %}

{% block body %}
<main>
    <div class="container">
        <h1>Willkommen!</h1>
        <p>Diese Webseite dient als Kompetenznachweis im Modul 151 2015 von Dominik M체ller. Die Aufgabe ist es einen Event-Kalender zu programmieren welcher 체ber eine Adminstrations체berfl채che bedienbar ist.</p>
        <p>Um dies zu erziehlen habe ich folgende Frameworks verwendet:</p>
        <ul>
            <li><a href="http://jquery.org/" target="_blank">jQuery</a></li>
            <li><a href="http://getbootstrap.com" target="_blank">Bootstrap 3.0</a></li>
            <li><a href="http://symfony.com" target="_blank">Symfony 2</a></li>
        </ul>
    </div>
</main>
{% endblock %}