{% extends '@App/base.html.twig' %}

{% form_theme form _self %}
{%  block field_errors %}
    <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {% for error in errors %}
            <span class="sr-only">Error:</span>
            {{ error }}
        {% endfor %}
    </div>
{% endblock %}

{% block body %}
<main>
    <div class="container">
        <h1>Passwort ändern</h1>
        {{ form(form) }}
        {% if feedback != '' %}
            {{ feedback|trans }}
        {% endif %}
    </div>
</main>
{% endblock %}